<form [formGroup]="form">
  <legend class="mb-6 heading-l text-white">Add New Task</legend>

  <fieldset class="flex flex-col gap-2">
    <label class="text-white" for="title">Title</label>
    <input
      formControlName="title"
      class="focus:opacity-100 outline-0 placeholder:opacity-25 opacity-25 mb-2 py-2 px-4 border text-white border-kb-medium-grey rounded-sm"
      placeholder="e.g. Take coffee break"
      type="text"
      id="title"
    />
  </fieldset>

  <fieldset class="flex flex-col gap-2">
    <label class="text-white" for="description">Description</label>
    <textarea
      formControlName="description"
      class="focus:opacity-100 outline-0 placeholder:opacity-25 opacity-25 mb-2 py-2 px-4 border text-white border-kb-medium-grey rounded-sm text-start"
      placeholder="e.g. It's always good to take a break. This 15 minute break will recharge the batteries a little."
      id="description"
    ></textarea>
  </fieldset>

  <fieldset formArrayName="subtasks" class="flex flex-col gap-2">
    <p class="text-white">Subtasks</p>

    @for (subtask of subtasks.controls; track $index) {
      <div class="flex items-center">
        <input
          [formControlName]="$index"
          class="w-full focus:opacity-100 outline-0 placeholder:opacity-25 opacity-25 py-2 px-4 border text-white border-kb-medium-grey rounded-sm"
          [placeholder]="$odd ? 'e.g. Make coffee' : 'e.g. Drink coffee & smile'"
          type="text"
          id="title"
        />
        <button (click)="removeSubtask($index)" class="ml-4 shrink-0">
          <img src="icon-cross.svg" alt="Remove subtask" />
        </button>
      </div>
    }

    <button
      (click)="addNewSubtask()"
      class="flex justify-center items-center mt-3 body-l rounded-full bg-kb-white text-kb-purple py-2"
    >
      <svg class="scale-[0.8] mr-1" width="12" height="12" xmlns="http://www.w3.org/2000/svg">
        <path fill="#635fc7" d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z" />
      </svg>
      Add New Subtask
    </button>
  </fieldset>

  <app-dropdown
    class="my-6"
    (selectedOptionChange)="form.get('status').setValue($event)"
    label="Status"
    [options]="dialogData.columns"
    [selectedOption]="dialogData.columns[0]"
  />

  <button
    (click)="submitForm()"
    class="flex justify-center items-center body-l rounded-full text-kb-white bg-kb-purple py-2 w-full"
  >
    Create Task
  </button>
</form>
