* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: initial;
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

input,
button {
  border: none;
  font-family: inherit;
  outline: none;
}