@import "./palette";
.user {
  grid-row: span 2;
}

.grid-item {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  .icon {
    width: 80px;
    position: absolute;
    right: 20px;
  }
  .amount {
    background-color: $dark-blue;
    position: relative;
    border-radius: 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding: 1rem;
    z-index: 100;
    transition: 0.3s;

    h4 {
      font-weight: 500;
    }
    h1 {
      margin-top: 2rem;
      font-weight: 300;
      font-size: 3rem;
    }
    p {
      font-weight: 300;
      color: $pale-blue;
      transition: 0.2s;
    }

    &:hover {
      background-color: $desaturated-blue;
      cursor: pointer;
    }
  }
  .elipsis {
    position: absolute;
    right: 1rem;
    top: 1rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.work {
  background-color: $light-orange;
}
.play {
  background-color: $soft-blue;
}
.study {
  background-color: $light-red;
}
.exercise {
  background-color: $lime-green;
}
.social {
  background-color: $violet;
}
.self-care {
  background-color: $soft-orange;
}
