@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

body,
button {
  font-family: "Rubik", sans-serif;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

button,
li {
  &:hover {
    cursor: pointer;
  }
}
