<div class="search-input">
  <input
    (input)="onInput($event)"
    [value]="currentSearch$ | async"
    type="text"
    placeholder="Search for a country..."
  />
  @if (currentSearch$ | async) {
  <span @fadeIn (click)="clearSearch()">x</span>
  }
</div>

<div
  appOutsideClick
  (outsideClick)="showRegions = false"
  class="region-filter"
  (click)="showRegions = !showRegions"
>
  <p>
    {{ (currentRegion$ | async) || "Filter by region" }}
  </p>
  @if (currentRegion$ | async) {
  <span @fadeIn (click)="clearRegion()">x</span>
  } @if (showRegions) {
  <div class="options">
    @for (region of regions; track region) {
    <button (click)="filterByRegion(region)">
      {{ region }}
    </button>
    }
  </div>
  }
</div>
