:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


input {
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--dark-blue);
  border-radius: 4px;
  font-size: 1rem;
  padding: .75em 2em;
  font-weight: 600;
}