@media only screen and (max-width: 1360px) {
  .hide {
    display: unset;
  }
  .show {
    display: none;
  }
  .section-1 {
    h2 {
      margin: 5rem 0 3rem 0;
    }
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      .description {
        transform: none;
        text-align: center;
        order: 2;
        margin-bottom: 2rem;
      }
    }

    aside {
      img {
        transform: none;
        width: 80vw;
        height: auto;
      }
    }
  }

  .section-2 {
    margin-top: 10rem;
    min-height: 700px;
    flex-direction: column;
    aside {
      img {
        left: 0;
        top: -382px;
      }
    }
    article {
      text-align: center;
      margin: 0;
      position: relative;
      top: 100px;
    }
  }

  .section-3 {
    margin-top: 3rem;
    flex-direction: column;
    article {
      text-align: center;
    }
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    nav {
      align-items: center;
      span {
        margin: 0;
      }
      li {
        &::before {
          content: none;
        }
        &:first-child {
          font-size: 1.2rem;
        }
      }
    }
  }
}
