@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap");
@import "./palette";
$background-border-radius: 120px;

body {
  font-family: "Overpass", sans-serif;
  // font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

.secondary {
  background-color: transparent;
}
.primary {
  background-color: $White;
  color: $Verylightred;
  font-weight: 600;
}
.outline {
  border: 1px solid $White;
}
button {
  font-family: "Ubuntu", sans-serif;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  transition: 0.1s;
  &:active {
    transform: scale(0.98);
  }
}

header {
  color: white;
  padding: 4rem 6rem 0 6rem;
  background-image: url("../images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, $Verylightred, $Verylightred1);
  background-position: center;
  border-bottom-left-radius: $background-border-radius;
  padding-bottom: 6rem;
  background-repeat: no-repeat;
  ul,
  nav {
    display: flex;
    align-items: center;
  }

  ul {
    width: 100%;
    gap: 2rem;
    margin-left: 4rem;
    .secondary {
      margin-left: auto;
    }
    li {
      &:hover {
        cursor: pointer;
      }
    }
  }

  h1,
  h4 {
    text-align: center;
  }
  h1 {
    margin-top: 6rem;
    font-size: 3rem;
  }
  h4 {
    font-weight: 300;
    margin: 1.5rem 0 4rem 0;
  }

  .btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.section-1 {
  h2 {
    text-align: center;
    color: $Verydarkblue;
    margin-top: 5rem;
    font-size: 2.5rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .description {
    max-width: 505px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translateX(30%);
  }
  article {
    h3 {
      color: $Verydarkblue;

      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    p {
      color: $Verydarkgrayishblue;
      line-height: 28px;
      font-size: 1.1rem;
    }
  }
  aside {
    img {
      max-width: unset;
      transform: translateX(30%);
      height: 900px;
    }
  }
}

.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient($Verydarkgrayblue, $Verydarkdesaturatedblue);
  background-repeat: no-repeat;
  border-top-right-radius: $background-border-radius;
  border-bottom-left-radius: $background-border-radius;
  background-position: bottom left;
  gap: 4rem;
  article {
    margin: 8rem 0;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
    p {
      max-width: 500px;
      font-weight: 300;
      line-height: 28px;
    }
  }
  aside {
    width: 570px;

    position: relative;
    img {
      position: absolute;
      left: -130px;
      top: -257px;
    }
  }
}

.section-3 {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  .description {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    h3 {
      color: $Verydarkblue;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      max-width: 500px;
      line-height: 28px;
      color: $Verydarkgrayishblue;
    }
  }
}

footer {
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-top-right-radius: $background-border-radius;
  background-color: $Verydarkgrayblue;
  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      &:hover {
        cursor: pointer;
      }
    }
    span {
      display: inline-block;
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }
  padding: 5rem 0 10rem 0;
}
