@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");

:root {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan: hsl(180, 52%, 96%);
  --light-grayish-cyan-2: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: var(--light-grayish-cyan);
}

img {
  display: block;
  max-width: 100%;
}

header {
  height: 156px;
  background-image: url("./images/bg-header-desktop.svg");
  background-color: var(--desaturated-dark-cyan);
}

main {
  max-width: 1440px;
  margin-inline: auto;
}

.jobs-container {
  display: grid;
  gap: 1.5rem;
  margin-block: 2.5rem;
}

h2 {
  cursor: pointer;
  transition: 0.2s;
}

h2:hover {
  color: var(--desaturated-dark-cyan);
}

article {
  display: flex;
  background-color: white;
  align-items: center;
  box-shadow: 0 15px 20px -5px hsl(189 81% 28% / 15%);
  border-radius: 8px;
  padding: 1.4rem 2rem;
  position: relative;
}

article > div {
  margin-left: 1.4rem;
}

article div:last-child {
  margin-left: auto;
}

article div:last-child span {
  background-color: var(--light-grayish-cyan-2);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  margin-inline: 5px;
  color: var(--desaturated-dark-cyan);
  font-weight: 700;
  transition: 0.2s;
}

article div:last-child span:hover {
  color: white;
  background-color: var(--desaturated-dark-cyan);
}

h3 {
  color: var(--desaturated-dark-cyan);
  margin-right: 10px;
  margin-bottom: 15px;
}

.new,
.featured {
  border-radius: 100vw;
  padding: 5px 10px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  vertical-align: middle;
}

.new {
  background-color: var(--desaturated-dark-cyan);
}

.featured {
  background-color: var(--very-dark-grayish-cyan);
}

h4 {
  color: var(--dark-grayish-cyan);
}

.featured-job {
  overflow: hidden;
}

.featured-job::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--desaturated-dark-cyan);
}
