<div class="filter-types" #filterTypes>
  <button
    [class.active]="filterType() === 'all'"
    (click)="filterType.set('all'); filterTypeChange.emit('all')"
  >
    All
  </button>
  <button
    [class.active]="filterType() === 'active'"
    (click)="filterType.set('active'); filterTypeChange.emit('active')"
  >
    Active
  </button>
  <button
    [class.active]="filterType() === 'completed'"
    (click)="filterType.set('completed'); filterTypeChange.emit('completed')"
  >
    Completed
  </button>
</div>
