:host {
  button {
    background-color: transparent;
    font-size: 14px;
    color: #5b5e7e;
    transition: color 200ms;
    &:hover {
      color: #fff;
    }
  }

  .filter-types {
    display: flex;
    gap: 18px;

    button {
      font-weight: 800;
      &.active {
        color: var(--bright-blue);
      }
    }
  }
}

:host-context(body.light) {
  button {
    color: #9495a5;
    &:hover {
      color: #494c6b;
    }
  }
}
