@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-size: 16px;
  --primary: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

input,
button {
  font-family: inherit;
  outline: none;
  border: none;
}

html,
body {
  height: 100%;
}

.hide {
  display: none;
}

body {
  max-width: 1440px;
  margin-inline: auto;
  font-family: 'Roboto', sans-serif;
  background-color: var(--charcoal-grey);
  display: grid;
  place-items: center;
  color: var(--dark-slate-grey);
}

main {
  max-width: 950px;
  background-color: var(--white);
  border-radius: 2rem;
  padding: 1.5rem;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

article {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-block: 1.5rem;
}

article p img {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 1rem;
}

article p:nth-of-type(2) {
  margin-block: 10px;
}

label {
  display: block;
  font-weight: 700;
  margin-block: 3rem 0.5rem;
  font-size: 0.8rem;
}

input {
  border: 1px solid var(--grey);
  color: var(--charcoal-grey);
  transition: 0.2s;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
}

input:focus {
  border-color: var(--charcoal-grey);
}

button {
  width: 100%;
  background-color: var(--dark-slate-grey);
  border-radius: 8px;
  margin-top: 1.5rem;
  font-size: 0.9rem;
  padding-block: 15px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-image: linear-gradient(90deg, #ff3e83, #fd634a);
  box-shadow: -3px 7px 10px 4px #ff3e8355;
}

.email-control {
  position: relative;
}

#email.error {
  background-color: hsla(4, 100%, 67%, 20%);
  border-color: var(--primary);
  color: var(--primary);
}

#email.error::placeholder {
  color: var(--primary);
}

#error-text {
  position: absolute;
  color: var(--primary);
  right: 0;
  top: 0;
  margin: 0;
}

#success {
  max-width: 400px;
  padding: 1rem;
}

#success h1 {
  margin-block: 1rem;
  font-size: 3rem;
}

.mobile-image {
  display: none;
}

@media only screen and (max-width: 915px) {
  :root {
    font-size: 12px;
  }

  .mobile-image {
    display: block;
    width: 100%;
  }

  main {
    padding: 0;
  }

  article {
    padding: 0 2rem 2rem 2rem;
  }

  aside {
    order: -1;
  }

  .desktop-image {
    display: none;
  }

  section {
    grid-template-columns: 1fr;
  }

  #email {
    padding: 1.5rem 2rem;
  }

  #subscribe {
    font-size: 1.2rem;
  }

  #success {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

  #success h1 {
    margin-block: 2rem;
  }

  #success img {
    max-width: 50px;
    margin-top: auto;
  }
  #dismiss {
    margin-top: 5rem;
  }
}
