@if (columnIds()?.length !== 0) {
  <div cdkDropListGroup class="grid grid-flow-col auto-cols-[280px] p-6 gap-6">
    @for (column of columns.value(); track column.id) {
      <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="column.id">
        <div class="flex items-center gap-3 mb-6">
          <div
            [style.background-color]="colors[$index]"
            class="w-[15px] h-[15px] rounded-full"
          ></div>
          <p class="heading-s text-kb-medium-grey uppercase">
            {{ column.name }} ({{ taskCounts().get(column.id) ?? 0 }})
          </p>
        </div>
        @for (task of tasks.value(); track task.id) {
          @if (task.column === column.id) {
            <button
              cdkDrag
              (click)="openTaskDetails(task)"
              class="example-box w-full text-start py-6 px-4 bg-kb-dark-grey rounded-lg mb-5"
            >
              <p class="text-kb-white heading-m mb-2">{{ task.title }}</p>
              <p>0 of 3 substasks</p>
            </button>
          }
        }
      </div>
    }
    <button
      class="mt-[39px] rounded-lg flex items-center justify-center heading-xl bg-gradient-to-b from-[#2b2c3775] to-[#2b2c3721]"
    >
      + New Column
    </button>
  </div>
} @else {
  <div class="h-full flex items-center justify-center">
    <div class="grid justify-items-center">
      <p class="heading-l mb-8 text-white">
        This board is empty. Create a new column to get started.
      </p>
      <button class="heading-m text-white bg-kb-purple rounded-full py-4 px-6">
        + Add New Column
      </button>
    </div>
  </div>
}
