<img
  width="117"
  height="117"
  priority
  [ngSrc]="user().avatar_url"
  alt="User Avatar"
  class="avatar"
/>
<article>
  <header>
    <div>
      <h2 class="user-name">{{ user().name }}</h2>
      <h3 class="user-login">
        <a target="_blank" [href]="user().html_url">&#64; {{ user().login }}</a>
      </h3>
    </div>

    <h3 class="created-at">
      Joined {{ user().created_at | date | createdAt }}
    </h3>
  </header>

  <p class="user-bio">{{ user().bio || "This profile has no bio" }}</p>
  <app-user-stats [stats]="user()" />
  <app-user-links [links]="user()" />
</article>
