* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Barlow', sans-serif;
  display: flex;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}