:host {
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  inline-size: 360px;
}

h2,
div {
  padding-inline: 24px;
}

h2 {
  padding-block: 24px;
}

hr {
  border-color: #e4e9f2;
}

.empty {
  display: grid;
  place-items: center;
  min-block-size: 256px;

  p {
    color: #69707d;
    font-size: 16px;
    font-weight: 700;
  }
}
