@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
}

button {
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: right;
  height: 600px;
}
header ul {
  padding: 2rem 1.5rem;
  display: flex;
  gap: 2rem;
}
header ul img {
  margin-right: auto;
}
header h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  letter-spacing: 4px;
  margin: 5rem;
}
header .arrow {
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
header .arrow:hover {
  cursor: pointer;
  transform: translateY(5px);
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section img {
  width: 100%;
}
.section article {
  justify-content: center;
  width: 62%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section article h2 {
  font-size: 2rem;
  color: #23303e;
  font-family: "Fraunces", serif;
}
.section article p {
  color: #818498;
}
.section article h3 {
  font-size: 1rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
}
.section article h3:hover {
  cursor: pointer;
}

.section-1 h3,
.section-2 h3 {
  position: relative;
}
.section-1 h3::after,
.section-2 h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  z-index: -1;
  left: -5px;
  border-radius: 8px;
  width: 135px;
  height: 5px;
  opacity: 0.7;
  transition: 0.2s;
}

.section-1 h3::after {
  background-color: yellow;
}

.section-2 h3::after {
  background-color: #fe7867;
}

.section-3 article {
  width: 100%;
  height: 600px;
}
.section-3 article .content {
  color: #19536b;
  gap: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
.section-3 article .content p {
  color: #19536b;
  margin-bottom: 3rem;
}
.section-3 .article-1 {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-3 .article-2 {
  background-image: url("../images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.users-section h2 {
  text-align: center;
  color: #a7abae;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin: 6rem 0 4rem 0;
}
.users-section .users {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
  gap: 1rem;
}
.users-section .users .user {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.users-section .users .user img {
  width: 4rem;
  border-radius: 50%;
}
.users-section .users .user p {
  color: #818498;
  margin: 2rem 0;
}
.users-section .users .user h5 {
  color: #818498;
}

.image-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #7abdb0;
  color: #25564b;
}
footer img {
  display: block;
}
footer ul {
  display: flex;
  gap: 1.5rem;
}
footer ul li {
  transition: 0.2s;
}
footer ul li:hover {
  color: white;
  cursor: pointer;
}
footer .icons {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 300px;
}
footer .icons i {
  transition: 0.2s;
  font-size: 1.2rem;
}
footer .icons i:hover {
  cursor: pointer;
  color: white;
}

/*# sourceMappingURL=style.css.map */
