@use './colors' as *;


.top-bg {
  height: 300px;
  background-color: var(--very-darkblue-top);
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem 3rem;

  h1 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: .5rem;
  }
}

h2 {
  margin-block: 2rem 1rem;
  color: var(--white);
}