@use './mixins.scss' as *;
@use './colors' as *;

.overview-section {
  @include list-items;

  article {
    padding: 1.5rem;

    .top-info {
      @include flex(center, space-between);
      margin-bottom: 2rem;
    }

    .bottom-info {
      @include flex(center, space-between);

      p:nth-of-type(1) {
        color: var(--white);
        font-weight: 700;
        font-size: 2rem;
      }

      p:nth-of-type(2) {
        @include flex(center, flex-start, 5px);
        flex-direction: row-reverse;
        color: var(--lime-green);

        &.down {
          color: var(--bright-red);
        }
      }
    }
  }
}