@use './colors.scss' as *;


$switch-width: 44px;
$thumb-width: 18px;


.theme-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-image: var(--toggle);
}

.slider:before {
  position: absolute;
  content: "";
  height: $thumb-width;
  width: $thumb-width;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider:before {
  -webkit-transform: translateX($thumb-width);
  -ms-transform: translateX($thumb-width);
  transform: translateX($thumb-width);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}