// Primary
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
}



.dark {
  --toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --very-darkblue: hsl(230, 17%, 14%); // (BG)
  --very-darkblue-top: hsl(232, 19%, 15%); // (Top BG Pattern)
  --dark-desaturated-blue: hsl(228, 28%, 20%); // (Card BG)
  --desaturated-blue: hsl(228, 34%, 66%); // (Text)
  --white: hsl(0, 0%, 100%); // (Text)
}

.light {
  --toggle: hsl(230, 22%, 74%);
  --very-darkblue: hsl(0, 0%, 100%); // (BG)
  --very-darkblue-top: hsl(225, 100%, 98%); // (Top BG Pattern)
  --dark-desaturated-blue: hsl(227, 47%, 96%); // (Card BG)
  --desaturated-blue: hsl(228, 12%, 44%); // (Text)
  --white: hsl(230, 17%, 14%); // (Text)
}