@use './reset';
@use './colors' as *;


.top-bg {
  height: 300px;
  background-color: var(--very-darkblue-top);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

body {
  background-color: var(--very-darkblue);
  color: var(--desaturated-blue);
  max-width: 1440px;
  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 2rem 3rem;

  h1 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: .5rem;
  }
}

article {
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s;

  &:hover {
    background-color: hsl(228, 34%, 66%, .5);
  }
}

.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  article {
    padding: 2rem 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;

    &:nth-child(1) {
      border-top: 5px solid var(--facebook);
    }

    &:nth-child(2) {
      border-top: 5px solid var(--twitter);
    }

    &:nth-child(3)::before {
      content: "";
      height: 5px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: var(--instagram);
    }

    &:nth-child(4) {
      border-top: 5px solid var(--youtube);
    }

    .article-author {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    p:nth-of-type(1) {
      font-weight: 700;
      color: var(--white);
      font-size: 3rem;
      margin-block: 2rem 1rem;
    }

    p:nth-of-type(2) {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 1rem;
    }

    p:nth-of-type(3) {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: var(--lime-green);

      &.down {
        color: var(--bright-red);
      }
    }
  }
}

h2 {
  margin-block: 2rem 1rem;
  color: var(--white);
}

.overview-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  article {
    padding: 1.5rem;

    .top-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    .bottom-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p:nth-of-type(1) {
        color: var(--white);
        font-weight: 700;
        font-size: 2rem;
      }

      p:nth-of-type(2) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 5px;
        color: var(--lime-green);

        &.down {
          color: var(--bright-red);
        }
      }
    }
  }
}