<main>
  <app-sidebar />
  <!-- Step 1 start -->

  <div class="step-content" [formGroup]="form">
    <h2>Personal info</h2>
    <p>Please provide your name, email address, and phone number.</p>

    <form formGroupName="personalInfo">
      <div class="form-control">
        <div class="label-container">
          <label for="name">Name</label>
          @if (hasRequiredError('personalInfo.name')) {
          <p class="error">This field is required</p>
          }
        </div>
        <input
          formControlName="name"
          placeholder="e.g. Stephen King"
          type="text"
          id="name"
        />
      </div>
      <div class="form-control">
        <div class="label-container">
          <label for="email">Email Address</label>
          @if (hasRequiredError('personalInfo.email')) {
          <p class="error">This field is required</p>
          }
        </div>
        <input
          formControlName="email"
          placeholder="e.g. stephenking&#64;lorem.com"
          type="email"
          id="email"
        />
      </div>
      <div class="form-control">
        <div class="label-container">
          <label for="phone">Phone Number</label>
          @if (hasRequiredError('personalInfo.number')) {
          <p class="error">This field is required</p>
          }
        </div>
        <input
          formControlName="number"
          placeholder=" e.g. +1 234 567 890"
          type="number"
          id="phone"
        />
      </div>
    </form>
    <footer>
      <button (click)="nextStep()" class="next-step">Next Step</button>
    </footer>
  </div>

  <!-- Step 1 end -->

  <!-- Step 2 start -->

  <!-- Select your plan You have the option of monthly or yearly billing. Arcade
  $9/mo Advanced $12/mo Pro $15/mo Monthly Yearly Go Back Next Step -->

  <!-- Step 2 end -->

  <!-- Step 3 start -->

  <!-- Pick add-ons Add-ons help enhance your gaming experience. Online service
  Access to multiplayer games +$1/mo Larger storage Extra 1TB of cloud save
  +$2/mo Customizable Profile Custom theme on your profile +$2/mo Go Back Next
  Step -->

  <!-- Step 3 end -->

  <!-- Step 4 start -->

  <!-- Finishing up Double-check everything looks OK before confirming. -->

  <!-- Dynamically add subscription and add-on selections here -->

  <!-- Total (per month/year) Go Back Confirm -->

  <!-- Step 4 end -->

  <!-- Step 5 start -->

  <!-- Thank you! Thanks for confirming your subscription! We hope you have fun using
  our platform. If you ever need support, please feel free to email us at
  support&#64;loremgaming.com. -->

  <!-- Step 5 end -->
</main>
