@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);
:root {
  font-size: 12px;
}

body,
html {
  height: 100%;
}
body {
  width: 100vw;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient($soft-violet, $soft-blue);
}

.hide {
  display: none;
}

.container {
  @include absoluteCenter();
  width: 900px;
  padding: 2rem;
  gap: 30px;
  border-radius: 18px;
  justify-content: center;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left-content {
  position: relative;
  left: -63px;
}

.box {
  position: absolute;
  left: -94px;
  top: 145px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.questions-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .question-div {
    width: 270px;
    position: relative;
    border-bottom: 1px solid $light-grayish-blue;
    p {
      margin-bottom: 10px;
    }

    img {
      position: absolute;
      right: 5px;
      top: 25%;
      transition: 0.3s;
      &.rotate {
        transform: rotate(180deg);
      }
      &:hover {
        cursor: pointer;
      }
    }
    li {
      list-style: none;
      font-size: 1.1rem;
      transition: 0.3s;
      margin-bottom: 15px;
      &:hover {
        color: $soft-red;
        cursor: pointer;
      }
    }
  }

  .bold {
    font-weight: 700;
  }
}

@media only screen and (max-width: 920px) {
  .container {
    width: 90vw;
    min-width: 335px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: unset;
    .illustration,
    .box {
      display: none;
    }

    .mobile-img {
      width: 300px;
      height: 150px;
      position: absolute;
      top: -110px;
      left: -87px;
      z-index: 5;
    }

    .mobile-bg {
      position: absolute;
      width: 200px;
      top: -22px;
      left: -38px;
    }
  }

  h1 {
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
  }
}
