<app-todo-item editable title="Create New Todo..." />

<div class="container">
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="Complete online JavaScript course"
  />
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="Jog around the park 3x"
  />
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="10 minutes meditation"
  />
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="Read for 1 hour"
  />
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="Pick up groceries"
  />
  <app-todo-item
    (checkedChange)="handleChange($event)"
    title="Complete Todo App on Frontend Mentor"
  />

  <app-todo-filters [itemsLeft]="5" />

  <p>Drag and drop to reorder list</p>
</div>
