:host {
  .container {
    margin-top: 24px;
    border-radius: 6px;
    overflow: hidden;

    app-todo-item {
      border-radius: unset;
      border-bottom: 1px solid var(--very-dark-grayish-blue);
    }

    p {
      margin-top: 49px;
      text-align: center;
      font-size: 14px;
      color: #5b5e7e;
    }
  }
}

.todo-list {
  background-color: var(--very-dark-desaturated-blue);
}

.cdk-drag-preview {
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.todo-list.cdk-drop-list-dragging app-todo-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
