<app-todo-item
  (submitTodo)="onSubmitTodo($event)"
  editable
  title="Create New Todo..."
/>

<div class="container">
  <div class="todo-list" cdkDropList (cdkDropListDropped)="drop($event)">
    @for (todo of todos(); track todo) {
    <app-todo-item
      cdkDrag
      [checked]="todo.completed"
      [todoId]="todo.id"
      (checkedChange)="onCheckedChange($event)"
      (deleteTodo)="onDeleteTodo($event)"
      [title]="todo.title"
    />
    } @empty {
    <p class="empty">No Todos added</p>
    }
  </div>

  <div class="filter-types">
    <p>{{ todos().length }} items left</p>

    <app-todo-filters
      class="desktop"
      (filterTypeChange)="onFilterTypeChange($event)"
    />

    <button class="clear-btn" (click)="onClearCompleted()">
      Clear Completed
    </button>
  </div>

  <div class="mobile">
    <app-todo-filters (filterTypeChange)="onFilterTypeChange($event)" />
  </div>

  <ng-container *ngComponentOutlet=""></ng-container>

  <p class="info">Drag and drop to reorder list</p>
</div>
