<div class="relative w-full">
  <div
    class="flex w-full rounded-lg outline-offset-1 focus-within:outline-1 focus-within:outline-neutral-200"
  >
    <div class="flex w-full items-center gap-2 rounded-lg bg-neutral-800 px-5 py-2">
      <img width="12" src="/public/images/icon-search.svg" />
      <input
        #searchInput
        (input)="search.emit($event.target.value)"
        class="w-full outline-none"
        type="text"
        placeholder="Search for a place..."
      />
    </div>
  </div>
  @if (locations(); as locations) {
    <div class="absolute top-12 left-0 grid w-full gap-2 rounded-lg bg-neutral-800 px-2 py-2">
      @for (location of locations; track $index) {
        <button
          (click)="search.emit(location.name)"
          class="w-full cursor-pointer rounded px-2 text-start outline-offset-1 outline-neutral-500 hover:bg-neutral-700 hover:outline-1"
        >
          {{ location.name }}
        </button>
      }
    </div>
  }
</div>
<button
  (click)="search.emit(searchInput.value)"
  class="col-start-2 cursor-pointer rounded-lg bg-blue-500 px-5 py-2 hover:outline hover:outline-offset-2 hover:outline-blue-500"
>
  Search
</button>
