@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red Hat Text";
  src: url("/assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("/assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
