:host {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 24px;
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 6px;
  color: var(--dark-grayish-blue);

  @media only screen and (max-width: 800px) {
    padding: 14px 20px;
  }

  &:not(.editable) {
    cursor: move;
  }

  input,
  p {
    font-size: 18px;
    color: var(--light-grayish-blue);
  }

  input {
    caret-color: var(--bright-blue);
  }

  p.done {
    color: var(--very-dark-grayish-blue);
    text-decoration: line-through;
  }

  .gradient-outline {
    opacity: 0;
    transition: opacity 300ms;
    position: absolute;
    top: -1px;
    left: -0.5px;
  }

  button:not(.delete) {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--very-dark-grayish-blue); // fallback
    position: relative;

    &.checked {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: var(--check-background);
    }

    &:hover:not(.editable):not(.checked) {
      border-color: transparent;
      .gradient-outline {
        opacity: 1;
      }
    }
  }

  .delete {
    opacity: 0;
    transition: opacity 200ms;
  }

  .delete {
    margin-left: auto;
  }

  &:hover {
    .delete {
      opacity: 1;
    }
  }
}

:host-context(body.light) {
  p {
    color: var(--very-dark-grayish-blue);

    &.done {
      color: var(--light-grayish-blue);
    }
  }

  input {
    color: #393a4b;
  }
}

@media only screen and (max-width: 800px) {
  :host {
    p {
      font-size: 12px;
    }
    button:not(.delete) {
      width: 20px;
      height: 20px;
    }
  }
}
