:host {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 20px 24px;
  background-color: var(--very-dark-desaturated-blue);
  border-radius: 6px;
  color: var(--dark-grayish-blue);

  input,
  p {
    font-size: 18px;
    color: var(--light-grayish-blue);
  }

  input {
    caret-color: var(--bright-blue);
  }

  button {
    width: 24px;
    height: 24px;
    outline: 1px solid var(--very-dark-grayish-blue);
    border-radius: 50%;
    &.checked {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: var(--check-background);
    }
  }
}
