:host {
  display: flex;
  margin-bottom: 3.5rem;
  padding: 1.6rem 3.2rem;
  background-color: var(--stat-bg);
  border-radius: 10px;
  gap: 8rem;
}

.title {
  font-size: 1.3rem;
  color: var(--gray-3);
  font-weight: 400;
}

.stat-count {
  color: var(--gray-4);
  font-weight: 700;
  font-size: 2.2rem;
}

@media only screen and (max-width: 760px) {
  :host {
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}