:host {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
}

.boards {
  display: flex;
  flex-direction: column;
  max-width: max-content;
}

.columns {
  display: flex;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty {
  display: flex;
  flex-direction: column;
}
