@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}
body,
html {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: $light-grayish-blue;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.drawer-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

article {
  background-color: white;
  padding: 2rem;
  .user {
    display: flex;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .share-icon {
      background-color: $light-grayish-blue;
      border-radius: 50%;
      margin-left: auto;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
