.section-1 {
  text-align: center;
  position: relative;
  .brand-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    margin: 1rem 0 1rem 0;
  }
  p {
    margin: 0 auto 1.5rem auto;
    color: $Dark-gray;
    font-size: 0.9rem;
  }
  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      font-size: 0.9rem;
    }
  }
  .bookmark {
    color: $Dark-gray;
    border-radius: 20px;
    position: relative;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 12px 20px 12px 50px;
    transition: 0.2s;
    &:hover {
      color: $Dark-cyan;
    }
    &:hover img::before {
      background-color: $Dark-cyan;
    }
    img {
      position: absolute;
      height: 40px;
      width: 40px;
      left: 0;
    }
  }
}

.section-1-modal {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  z-index: 10;
  top: 5%;
  width: 600px;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    h4 {
      color: $Moderate-cyan;
      font-weight: 300;
      margin-left: 1rem;
    }
    h5 {
      margin-left: auto;
      font-size: 1rem;
      color: $Dark-gray;
      font-weight: 300;
      span {
        font-weight: 900;
      }
    }
  }
  p {
    line-height: 24px;
    color: $Dark-gray;
  }
}
