@import "./reset";
@import "./header.scss";
@import "section-1.scss";
@import "section-2.scss";
@import "section-3.scss";
body {
  background-color: lighten($color: $Dark-gray, $amount: 50%);
}
.hide {
  display: none;
}
.overlay {
  position: absolute;
  inset: 0;
  background-color: red;
  opacity: 0.4;
}

main {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  position: relative;
  bottom: 100px;
}

.out-of-stock {
  opacity: 0.5;
  button {
    pointer-events: none;
  }
}

main > * {
  width: 600px;
}
