@import "../src/palette";
@media only screen and (max-width: 900px) {
  .mobile-images {
    // display: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
      width: 100%;
    }
  }
  .desktop-images {
    display: none;
  }
  .section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    article {
      padding: 2rem;
      width: 100%;
      h2 {
        font-size: 1.5rem;
      }
      align-items: center;
      text-align: center;
    }
  }

  .users-section {
    h2 {
      font-size: 1rem;
      letter-spacing: 5px;
      margin: 3rem 0;
    }
    .users {
      flex-direction: column;
      gap: 3rem;
      .user {
        margin: 0 auto;
        &:hover {
          transform: none;
        }
        p {
          margin: 1rem 0;
        }
        gap: 0.5rem;
      }
    }
  }

  #main-section {
    article {
      grid-row: 2;
    }
  }

  .section-3 {
    article {
      padding: 1rem;
      .content {
        width: 100%;
        padding: 10px;
        p {
          margin: 0;
        }
      }
    }
  }
  footer {
    .icons {
      margin-top: 1.5rem;
    }
  }
}

@media only screen and (max-width: 640px) {
  header {
    h1 {
      margin: 3rem;
    }
  }
  .links {
    display: none;
  }

  .showModal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 4rem;
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    li {
      a {
        color: $Very-dark-grayish-blue;
      }
    }
    .contact {
      background-color: $Yellow;
    }
  }
  .hamburger-img {
    display: unset;
    &:hover {
      cursor: pointer;
    }
  }
}
