@import "./palette";
@import "./reset.scss";
header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: right;
  height: 600px;
  ul {
    padding: 2rem 1.5rem;
    display: flex;
    gap: 2rem;
    img {
      margin-right: auto;
    }
  }
  h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    letter-spacing: 4px;
    margin: 5rem;
  }

  .arrow {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: translateY(5px);
    }
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  article {
    justify-content: center;
    width: 62%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 2rem;
      color: $Very-dark-desaturated-blue;
      font-family: "Fraunces", serif;
    }
    p {
      color: $Dark-grayish-blue;
    }
    h3 {
      font-size: 1rem;
      font-family: "Fraunces", serif;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.section-1,
.section-2 {
  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      z-index: -1;
      left: -5px;
      border-radius: 8px;
      width: 135px;
      height: 5px;
      opacity: 0.7;
      transition: 0.2s;
    }
  }
}

.section-1 {
  h3 {
    &::after {
      background-color: yellow;
    }
  }
}
.section-2 {
  h3 {
    &::after {
      background-color: $Soft-red;
    }
  }
}

.section-3 {
  article {
    width: 100%;
    height: 600px;
    .content {
      color: $Dark-blue;
      p {
        color: $Dark-blue;
        margin-bottom: 3rem;
      }
      gap: 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 45%;
      margin: 0 auto;
      text-align: center;
    }
  }
  .article {
    &-1 {
      background-image: url("../images/desktop/image-graphic-design.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-2 {
      background-image: url("../images/desktop/image-photography.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.users-section {
  h2 {
    text-align: center;
    color: $Grayish-blue;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    margin: 6rem 0 4rem 0;
  }

  .users {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 1rem;
    .user {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      img {
        width: 4rem;
        border-radius: 50%;
      }
      p {
        color: $Dark-grayish-blue;
        margin: 2rem 0;
      }
      h4 {
      }
      h5 {
        color: $Dark-grayish-blue;
      }
    }
  }
}
