@import "./palette";
@import "./reset.scss";

.hide {
  display: none;
}

header {
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  ul {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    img {
      margin-right: auto;
    }
  }
  h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    letter-spacing: 4px;
    margin: 5rem;
  }

  .arrow {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transform: translateY(5px);
    }
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 100%;
  }
  article {
    a {
      color: unset;
    }
    justify-content: center;
    width: 62%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h2 {
      font-size: 2rem;
      color: $Very-dark-desaturated-blue;
      font-family: "Fraunces", serif;
    }
    p {
      color: $Dark-grayish-blue;
    }
    h3 {
      font-size: 1rem;
      font-family: "Fraunces", serif;
      text-transform: uppercase;
      display: inline-block;
      width: 130px;
    }
  }
}

.section-1,
.section-2 {
  h3 {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      z-index: -1;
      left: -5px;
      border-radius: 8px;
      width: 135px;
      height: 5px;
      opacity: 0.7;
      transition: 0.2s;
    }
    &:hover::after {
      bottom: -2px;
      height: 10px;
    }
  }
}

.section-1 {
  h3 {
    &:hover {
      cursor: unset;
    }

    &::after {
      background-color: $Yellow;
    }
  }
}
.section-2 {
  h3 {
    &::after {
      background-color: $Soft-red;
    }
  }
}

.section-3 {
  article {
    width: 100%;
    height: 600px;
    .content {
      color: $Dark-blue;
      p {
        color: $Dark-blue;
        margin-bottom: 3rem;
      }
      gap: 2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 45%;
      margin: 0 auto;
      text-align: center;
    }
  }
  .article {
    &-1 {
      background-image: url("../images/desktop/image-graphic-design.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-2 {
      background-image: url("../images/desktop/image-photography.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.users-section {
  h2 {
    text-align: center;
    color: $Grayish-blue;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    margin: 6rem 0 4rem 0;
  }

  .users {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 1rem;
    .user {
      transition: 0.3s ease-out;
      &:hover {
        transform: translateY(-5px);
      }
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 1rem;
      img {
        width: 4rem;
        border-radius: 50%;
      }
      p {
        color: $Dark-grayish-blue;
        margin: 2rem 0;
      }
      h5 {
        color: $Dark-grayish-blue;
      }
    }
  }
}

.image-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  img {
    display: block;
  }
  background-color: lighten($color: $Dark-moderate-cyan, $amount: 20%);
  color: $Dark-desaturated-cyan;

  ul {
    display: flex;
    gap: 1.5rem;
    li {
      transition: 0.2s;
      &:hover {
        color: white;
        cursor: pointer;
      }
    }
  }

  .icons {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 300px;
    i {
      transition: 0.2s;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        color: white;
      }
    }
  }
}

.contact {
  background-color: white;
  padding: 15px 25px;
  border-radius: 24px;
  align-self: center;
  font-size: 0.8rem;
  font-family: "Fraunces", serif;
  transition: 0.2s;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
  a {
    color: $Dark-blue;
  }
  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
  &:hover a {
    color: white;
  }
}

@import "./mobile.scss";
