@if (countryDetailsResolver(); as country) {
<button (click)="location.back()">Back</button>
<section>
  <img [src]="country.flag" alt="" />
  <article>
    <h1>{{ country.name }}</h1>
    <div class="description">
      <p><strong>Native name:</strong> {{ country.nativeName }}</p>
      <p><strong>Top Level Domain:</strong> {{ country.topLevelDomain }}</p>
      <p><strong>Populaltion:</strong> {{ country.population }}</p>
      <p><strong>Currencies:</strong> {{ country.currencies[0].name }}</p>
      <p><strong>Region:</strong> {{ country.region }}</p>
      <p>
        <strong>Languages</strong>: @for (lang of country.languages; track lang;
        let last = $last) {
        <span> {{ lang.name }}{{ !last ? ", " : "" }}</span>
        }
      </p>
      <p><strong>Sub Region</strong>: {{ country.subregion }}</p>
      <p><strong>Capital</strong>: {{ country.capital }}</p>
    </div>

    @if (country.borderCountries.length > 0) {
    <div class="border-countries">
      <p>Border Countries:</p>
      @for (countryName of country.borderCountries; track $index) {
      <button [routerLink]="['/', countryName]">{{ countryName }}</button>
      }
    </div>
    }
  </article>
</section>
}
