@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
}

.dark {
  --toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --very-darkblue: hsl(230, 17%, 14%);
  --very-darkblue-top: hsl(232, 19%, 15%);
  --dark-desaturated-blue: hsl(228, 28%, 20%);
  --desaturated-blue: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);
}

.light {
  --toggle: hsl(230, 22%, 74%);
  --very-darkblue: hsl(0, 0%, 100%);
  --very-darkblue-top: hsl(225, 100%, 98%);
  --dark-desaturated-blue: hsl(227, 47%, 96%);
  --desaturated-blue: hsl(228, 12%, 44%);
  --white: hsl(230, 17%, 14%);
}

article {
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}
article:hover {
  background-color: hsla(228, 34%, 66%, 0.5);
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: var(--toggle);
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.top-bg {
  height: 300px;
  background-color: var(--very-darkblue-top);
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-block: 2rem 3rem;
}
header h1 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

h2 {
  margin-block: 2rem 1rem;
  color: var(--white);
}

@media only screen and (max-width: 660px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  header h1 {
    font-size: 1.4rem;
  }
  .theme-toggle {
    width: 100%;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .theme-toggle::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--desaturated-blue);
    bottom: 30%;
  }
}
.card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.card-section article {
  padding: 2rem 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.card-section article:nth-child(1) {
  border-top: 5px solid var(--facebook);
}
.card-section article:nth-child(2) {
  border-top: 5px solid var(--twitter);
}
.card-section article:nth-child(3)::before {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: var(--instagram);
}
.card-section article:nth-child(4) {
  border-top: 5px solid var(--youtube);
}
.card-section article .article-author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card-section article p:nth-of-type(1) {
  font-weight: 700;
  color: var(--white);
  font-size: 3rem;
  margin-block: 2rem 1rem;
}
.card-section article p:nth-of-type(2) {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1rem;
}
.card-section article p:nth-of-type(3) {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--lime-green);
}
.card-section article p:nth-of-type(3).down {
  color: var(--bright-red);
}

.overview-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.overview-section article {
  padding: 1.5rem;
}
.overview-section article .top-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 2rem;
}
.overview-section article .bottom-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.overview-section article .bottom-info p:nth-of-type(1) {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
}
.overview-section article .bottom-info p:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  flex-direction: row-reverse;
  color: var(--lime-green);
}
.overview-section article .bottom-info p:nth-of-type(2).down {
  color: var(--bright-red);
}

body {
  background-color: var(--very-darkblue);
  color: var(--desaturated-blue);
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 1rem;
  transition: background 0.2s ease-in-out, color 0.4s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
